<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/home">
        <img src="/images/new_option_color_2.png"  height="75" alt="Nkul Beti">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/who-we-are">Who We Are<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/what-we-believe">What We Believe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/our-culture">Our Culture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event">Events</a>
            </li>
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Dropdown link-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                    <!--<a class="dropdown-item" href="#">Action</a>-->
                    <!--<a class="dropdown-item" href="#">Another action</a>-->
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--</div>-->
            <!--</li>-->
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/contact-us">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account"> Sign In <i class="fa fa-sign-in"></i></a>
            </li>
        </ul>
    </div>
</nav>