<div class="container">
    <h1 class="featurette-heading">Events</h1>
    <div class="d-flex bd-highlight mb-3">
    <iframe src="https://calendar.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <div class="ml-auto p-2 bd-highlight">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    </div>
</div>
<script>
    window.onload = function() {

        $("li").removeClass("active");
        $("#event").addClass("active");

    };
</script>