{{#extend "scripts"}}
    <script src="/js/vendor/baguetteBox.js" async></script>
{{/extend}}

{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/css/baguetteBox.css" />
    <link rel="stylesheet" href="/css/gallery.css" />
{{/extend}}


<div class="container">
    <h1 class="featurette-heading">Gallery</h1>

    <h3 class="featurette-heading">Local Images</h3>
    <div class="baguetteBoxOne gallery">
        <a href="/images/new_option_color.png">
            <img src="/images/new_option_color.png">
        </a>
        <a href="/images/new_option_color_2.png">
            <img src="/images/new_option_color_2.png">
        </a>
        <a href="/images/Untitled5.png">
            <img src="/images/Untitled5.png">
        </a>
    </div>

    <h3 class="featurette-heading">Images From Google</h3>
    <div class="baguetteBoxTwo gallery">
        <a href="https://lh3.googleusercontent.com/XlH6wo2PzrAEqmplYrZwV0fI-2TafTT6BRwZhKDfZSHd_zT7HIdPyPWd3Xuqhn1QQADuTJ32QFmcgYiTOEU0sC4Bvf-VyTIiq-DxxEaxIeWDYyUK_VjaW8-zrMGBvekDZT77lpduYQ=w1920-h1080">
            <img src="https://lh3.googleusercontent.com/XlH6wo2PzrAEqmplYrZwV0fI-2TafTT6BRwZhKDfZSHd_zT7HIdPyPWd3Xuqhn1QQADuTJ32QFmcgYiTOEU0sC4Bvf-VyTIiq-DxxEaxIeWDYyUK_VjaW8-zrMGBvekDZT77lpduYQ=w1920-h1080">
        </a>
        <a href="https://lh3.googleusercontent.com/HISe-DV_b4gjLvSEGzrJlsqBU2rSE8uQpSqHHKTPihg_Ax9VtfCrOrvdXF01raBeBleAWQKI7Hfb4_w9vZeJKFymQfNTlubwXxTBTbqGTPwjg7S0CBtQsQJqsspvIhD9c-pniSZrEw=w1920-h1080">
            <img src="https://lh3.googleusercontent.com/HISe-DV_b4gjLvSEGzrJlsqBU2rSE8uQpSqHHKTPihg_Ax9VtfCrOrvdXF01raBeBleAWQKI7Hfb4_w9vZeJKFymQfNTlubwXxTBTbqGTPwjg7S0CBtQsQJqsspvIhD9c-pniSZrEw=w1920-h1080">
        </a>
    </div>

</div>

<script>
    window.onload = function() {

        $("li").removeClass("active");
        $("#gallery").addClass("active");

        baguetteBox.run('.gallery', {
            buttons:true,
            filter:/.+/
        });
    };
</script>
