html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 30px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    h1.featurette-heading {
        font-size: 50px;
    }

    h2.featurette-heading {
        font-size: 40px;
    }

    h3.featurette-heading {
        font-size: 40px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 8rem;
    }
}